*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
:root{
    --main-color : rgb(150, 120, 155)
}
#main-body{
    background-color: rgba(240, 240, 240, 0.6);
    height: 100vh;
}
#main-body h1{
    text-align: center;
}
#inventory-container{
    width: 80%;
    height: 70vh;
    overflow-y: scroll;
    margin-inline: auto;
    margin-block: 35px;
    box-shadow: 0px 0px 15px 5px rgb(220, 220, 220);
    border-radius: 10px;
    background-color: #ffffff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.hide{
    display: none;
}

#inventory-container ul{
    list-style: none;
}
#inventory-container ul li{
    margin-top: 13.5px;
    cursor: pointer;
}
#inventory-container a{
    text-decoration: none;
}
#inventory-container h3{
    text-align: center;
}
#list-menu{
    width: 20%;
    border-right: 1px solid rgb(220, 220, 220);
}
#inventory-div{
    width: 80%;
}
#add-item-page form{
    width: 70%;
    margin: auto;
}
#add-item-page form input, 
#add-item-page form select{
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(220, 220, 220);
    margin-top: 15px;
    margin-inline: auto;
}
#submit-item{
    color: #fff;
    background-color: rgb(53, 14, 228);
    border: none;
    padding: 12px;
    width: 100%;
    margin-top: 15px;
    margin-inline: auto;
    cursor: pointer;
}
#manage-item-page{
    margin-inline: auto;
}
#manage-item-page table tr, #manage-item-page table th, #manage-item-page table td{
    border: 1px solid rgb(220, 220, 220);
}
#manage-item-page table{
    border-collapse: collapse;
    margin-top: 40px;
    margin-inline: auto;
}
#manage-item-page table th, #manage-item-page table td{
    padding: 8px 11.5px;
}
#manage-item-page table thead{
    color: #fff;
    background-color: rgb(53, 14, 228);
}
table button{
    color:white;
    border-radius: 5px;
    border: none;
    padding: 4px;
    font-size: .7rem;
    cursor: pointer;
}
#edit{
    background-color: rgb(29, 79, 241);
}
#delete{
    background-color: rgb(173, 0, 0);
}
#add-stock{
    background-color: rgb(0, 134, 0);
}
#update-dialog{
    width: 40%;
    margin: auto;
    position:absolute;
    top: 0%;
    border-radius: 10px;
    border: none;
    height: 40vh;
    padding: 25px 10px;
}
#update-dialog::backdrop{
    background-color: rgba(120, 120, 120, .5);
}
#update-dialog h2{
    text-align: center;
}
#update-form{
    height: 70%;
    width: 80%;
    padding: 20px 40px;
    margin: auto;
}
#update-form input, #update-form select{
    width: 100%;
    height: 35px;
    border: .6px solid #999;
    margin-top: 10px;
    padding: 7px 11px;
}
#update-form button{
    background-color: rgb(29, 79, 241);
    color: #fff;
    margin-top: 20px;
    padding: 9px 20px;
    border: none;
}